@keyframes animation-around-left {
    0% {
        transform: translate(30px, 30px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes animation-around-right {
    0% {
        transform: translate(30px, 30px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes scale {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes up-rotate {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: rotate(0);
        transform: translateY(0);
    }
}