.nav {
    display: none;
    width: 100%;
    height: 5rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.nav__container {
    width: 85%;
    min-width: 56rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-flex {
    display: flex;
}

.nav__list-content {
    width: 50%;
    min-width: 34rem;
    justify-content: space-between;
}

.nav__container__logo {
    width: 10%;
    min-width: 8rem;
}

.nav-logo {
    width: 3rem;
}

.nav__list-content__link {
    font-weight: 600;
}

.nav__social {
    width: 10%;
    min-width: 8rem;
    align-items: center;
    justify-content: space-between;
}

.menu-mobile {
    width: 2rem;
    order: 1;
    margin-left: .8rem;
    display: none;
}

.close-menu {
    width: 1.5rem;
    display: none;
}

.nav__social__link {
    font-size: 1.3rem;
    transition: all .3s ease-in-out;
}

.nav__social__link:hover {
    color: #111E6C;
    font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .nav__container, .nav__social, .nav__list-content .nav__container__logo {
        min-width: initial;
    }
    .nav__container {
        width: 95%;
    }
    .nav__list-content {
        box-sizing: border-box;
        display: none;
        width: 100%;
        height: 100%;
        padding: 2rem;
        flex-direction: column;
        justify-content: space-evenly;
        color: #fff;
        background-color: #111E6C;
        position: fixed;
        top: 0;
        left: 0;
    }
    .menu-mobile {
        display: initial;
    }
    .close-menu {
        position: absolute;
        top: 1.2rem;
        right: 1.4rem;
    }    
    .nav__list-content__link {
        font-size: 1.3rem;
    }
    .nav__social {
        width: 55%;
    }
    .nav__container__logo {
        width: 15%;
    }
    .nav__social__link {
        font-size: 1.6rem;
        transition: all .3s ease-in-out;
    }
 
}