.our-team {
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    background-color: #111E6C;
}

.our-team__team-container {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
}

.team-container__card-person-team {
    width: 20rem;
    height: 24rem;
    line-height: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-person-team__person-image {
    width: 10rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 4px solid #111E6C
}

.card-person-team__name {
    font-size: 1.3rem;
    font-weight: bold;
}

.ceo {
    text-transform: uppercase;
}

.card-person-team__person-container-social {
    margin-top: .5rem;
}

.person-container-social__link-rede {
    font-size: 2rem;
}

.person-container-social__link-rede:first-child {
    margin-right: 1rem;
}

@media only screen and (max-width: 900px) {
    .our-team {
        box-sizing: border-box;
        padding: 1rem .5rem;
        height: 72vh;
    }
    .our-team__team-container {
        width: 100%;
        height: calc(100% - 30px);
        padding: 0;
    }
    .team-container__card-person-team {
        width: 19rem;
        height: 21rem;
    }
}