.services {
    width: 100%;
    height: 75vh;
}

.services__service-container {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.services-container__service-card {
    box-sizing: border-box;
    width: 18rem;
    height: 20rem;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .3s ease-in-out;
}

.services-container__service-card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    cursor: pointer;
}

.service-card__icon {
    font-size: 5rem;
    color: #111E6C;
    margin-bottom: 2rem;
}

.service-card__title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.service-card__description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #777777;
    margin-bottom: 1rem;
}

.service-card__link {
    color: #192DA1;
}

@media only screen and (max-width: 900px) {
    .services {
        box-sizing: border-box;
        height: auto;
        padding: 1rem .5rem;
    }
    .services__service-container {
        box-sizing: border-box;
        flex-wrap: wrap;
    }
}